# no .a or .o files
*.[oa]
# no tmp files
*~
# no swp files
*.swp
# ignore all files in the exec/ directory
exec/
# ignore all files in the tmp/ directory
tmp/
# ignore all files in the obj/ directory
obj/
# ignore the build folder
build/
# ignore the grpc/protobuf sources
*.pb.h
*.pb.cc
*_pb2.py
*_pb2_grpc.py
# python cache
*.pyc
